<!DOCTYPE html>
<html>
    <head>
<link rel="stylesheet" href="/static/George/signUp.css">
<Title>SignUps</Title>
    </head>
    <body>
        
    <section>
        <div class="S-box">

            <form class="formy">
                <h1>SignUp Yalla 🤩</h1>

                
            <!------------------Email---------------------------->
            <div class="S-input">
                <ion-icon name="mail-outline"></ion-icon>
                
                <Label for="text">Email Address</Label>
                
                <input type="text" id="text"  required>
            
            </div>
            <br> 
        <!-------------------------------Password--------------------->    
            <div class="S-input">
             
               <span id="passs">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                <img src="/static/George/EYES closed.jpg" alt=" " id="image">
            </span>
             
                <Label for="pass">Password</Label>
             
                <input type="password" id="pass" required>  
           
            </div>
           <br> 
           <!----------------Confirm Password----------------------------------->
            <div class="S-input">
               <span id="passs">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                <img src="/static/George/EYES closed.jpg" alt=" " id="image">
            </span>

                <Label for="passC"> Confirm Password</Label>

                <input type="password" id="passC" required >

            </div>
            <br>
            <!----------------------Phone number-------------------------------------->
            <div class="phoneN">
                <ion-icon name="phone-portrait-outline"></ion-icon>

                <Label for="p#">Phone Number</Label>

                <input type="number" id="p#" required>

            </div>
            <br>
<!-----------------------------------gender Check--------------------------->
<div class="GC">
    <ion-icon name="man"></ion-icon>

    <input type="radio" name="gender"  >
    
    <ion-icon name="woman"></ion-icon>
    
    <input type="radio" name="gender">
</div>
<!-------------------------------- change the button view------------------->
   
            <input type="submit" value="Register 🤩" class="S-bit">
                
          
                <div class="sign?">
        
            </div>
        </div>
    </form>
</section>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>
